*~
\#*
abbrev_defs
auto-save-list
backups/*
custom.el
*.dat
.DS_Store
*elc
elim/
eshell
image-dired/
loaddefs.el*
/#.newsrc-dribble#
.newsrc-dribble
.nnmail-cache
oddmuse/*
places
session*
sk-old
.smex-items
.svn
thumbs/*
tmp/*
tramp
url/cookies
