[submodule "lib/twittering-mode"]
	path = lib/twittering-mode
	url = https://github.com/hayamiz/twittering-mode.git
[submodule "lib/cucumber.el"]
	path = lib/cucumber.el
	url = https://github.com/michaelklishin/cucumber.el
[submodule "lib/rinari"]
	path = lib/rinari
	url = https://github.com/eschulte/rinari.git
[submodule "lib/org-mode"]
	path = lib/org-mode
	url = git://repo.or.cz/org-mode.git
[submodule "lib/markdown-mode"]
	path = lib/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "lib/nyan-mode"]
	path = lib/nyan-mode
	url = git@github.com:citizen428/nyan-mode.git
[submodule "lib/minimap"]
	path = lib/minimap
	url = git://randomsample.de/minimap.git
[submodule "lib/lua-mode"]
	path = lib/lua-mode
	url = https://github.com/immerrr/lua-mode.git
[submodule "lib/yaml-mode"]
	path = lib/yaml-mode
	url = https://github.com/yoshiki/yaml-mode
[submodule "lib/quickrun"]
	path = lib/quickrun
	url = https://github.com/syohex/emacs-quickrun.git
[submodule "etc/snippets/ruby-mode"]
	path = etc/snippets/ruby-mode
	url = https://github.com/bmaland/yasnippet-ruby-mode.git
[submodule "lib/expand-region"]
	path = lib/expand-region
	url = https://github.com/magnars/expand-region.el.git
