[submodule "lib/nyan-mode"]
	path = lib/nyan-mode
	url = git@github.com:citizen428/nyan-mode.git
[submodule "etc/snippets/ruby-mode"]
	path = etc/snippets/ruby-mode
	url = https://github.com/bmaland/yasnippet-ruby-mode.git
