[submodule "lib/twittering-mode"]
	path = lib/twittering-mode
	url = https://github.com/hayamiz/twittering-mode.git
[submodule "lib/cucumber.el"]
	path = lib/cucumber.el
	url = https://github.com/michaelklishin/cucumber.el
[submodule "lib/coffee-mode"]
	path = lib/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule "lib/nyan-mode"]
	path = lib/nyan-mode
	url = https://github.com/citizen428/nyan-mode
[submodule "lib/rinari"]
	path = lib/rinari
	url = https://github.com/eschulte/rinari.git
[submodule "lib/full-ack"]
	path = lib/full-ack
	url = https://github.com/nschum/full-ack.git
[submodule "lib/org-mode"]
	path = lib/org-mode
	url = git://repo.or.cz/org-mode.git
[submodule "lib/Emacs-Liquid.git"]
	path = lib/Emacs-Liquid.git
	url = https://github.com/rehanift/Emacs-Liquid.git
[submodule "lib/markdown-mode"]
	path = lib/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "nyan-mode"]
	path = nyan-mode
	url = https://github.com/citizen428/nyan-mode
